@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');


/* alert button */
/* user */
.userhead_main{
    display: flex;
}
.userpart_two{
    padding-top: 10px;
    padding-bottom: 20px;
}
.user_head{
    width: 75.5%;
    background-color: rgba(11, 35, 49, 1);
    display: inline-block;
    border-radius: 2px;
    text-align: center;
    padding-top: 10px;
}
.user_head h2{
    padding-top: 5px;
}


.user_btn{
    display: flex;
}
.user_btn button{
    padding-left: 26px;
    padding-right: 26px;
    padding-top: 10px;
    padding-bottom: 11px;
    background-color: #fff;
    border: 2px solid rgba(63, 66, 84, 1);
    color: black;
    display: flex;
    align-items: center;
    border-radius: 4px;
}
.user_btn button i{
    margin-right: 5px;
}
.user_btn button:hover{
    border-color: rgba(63, 66, 84, 1);
    background-color: rgba(63, 66, 84, 1);
    color: white;
}
.user_btn button:first-child{
    margin-left: 19px;
    margin-right: 15px;
}
.user_btn button:nth-child(2){
    margin-right: 15px;
}
.user_btn button:nth-child(3){
    margin-right: 0px;
}


.user_head h2{
    font-family: Lato;
    font-size: 20px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center !important;
    color: #fff;
    padding-left: 20px;
}


/* Button Section */
.button_main .btn{
    margin-right: 28px;
    padding: 13px 32px 12px 31px;
    border: 1px solid black;
    border-radius: 4px;
    
    color: #000;
text-align: center;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 83.333% */
}
.button_main .btn:hover{
    border-color: rgba(63, 66, 84, 1) !important;
    background-color: rgba(63, 66, 84, 1) !important;
    color: white !important;
}
.button_main .btn:first-child{
    background-color: rgba(0, 158, 246, 1);
    color: white;
    border-color: rgba(0, 158, 246, 1);
}
.button_main .btn:nth-child(2){
    background-color: rgba(255, 255, 255, 1);
    color: black;
    border-color: rgba(70, 208, 152, 1);
}
.button_main .btn:nth-child(3){
    background-color: rgba(255, 255, 255, 1);
    color: black;
    border-color: rgba(70, 208, 152, 1);
}
.button_main .btn:nth-child(4){
    background-color: rgba(255, 255, 255, 1);
    color: black;
    border-color: rgba(70, 208, 152, 1);
}
.button_main .btn:nth-child(5){
    background-color: rgba(255, 255, 255, 1);
    color: black;
    border-color: rgba(70, 208, 152, 1);
}
.button_main .btn:nth-child(6){
    background-color: rgba(255, 255, 255, 1);
    color: black;
    border-color: rgba(70, 208, 152, 1);
}
.button_main .btn:last-child{
    margin-right: 0 !important;
    background-color: rgba(255, 255, 255, 1);
    color: black;
    border-color: rgba(70, 208, 152, 1);
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    background-color: rgba(70, 208, 152, 1) !important;
    color: white !important;
    border-color: rgba(70, 208, 152, 1) !important;
}

/* Alert Card Start */
.alert_grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 50px;
}

.Summary_alert{
    background-color: rgba(249, 249, 249, 1);
    padding: 26px 6px 12px 6px;
}
.Summary_alert p{
    text-align: center;
}
.bg_critical{
    background-color: rgba(250, 23, 23, 1);
    padding: 10px;
    border-radius: 50%;
}
.critical_two{
    background-color: rgba(217, 33, 78, 1) !important;
}
.critical_four{
    background-color: rgba(80, 20, 208, 1) !important;
}
.critical_five{
    background-color: rgba(255, 199, 0, 1) !important;
}
.card_one{
    grid-column: 1/2;
    grid-row: 1/2;
}

.card_two{
    grid-column: 2/3;
    grid-row: 1/2;
}

.card_three{
    grid-column: 3/4;
    grid-row: 1/2;
}

.card_four{
    grid-column: 4/5;
    grid-row: 1/2;
}

.card_five{
    grid-column: 5/6;
    grid-row: 1/2;
}




/* Table */
.table .col-lg-2{
    padding: 0 !important;
}
.table .col-lg-3{
    padding: 0 !important;
}
.table .col-lg-4{
    padding: 0 !important;
}
.table .col-lg-5{
    padding: 0 !important;
}
.table .col-lg-6{
    padding: 0 !important;
}
.table .col-lg-7{
    padding: 0 !important;
}

th{
    border-left: 1px solid rgba(0, 0, 0, 0.42);
    border-top: 1px solid rgba(0, 0, 0, 0.42);
    border-bottom: 0;
    background-color: rgba(0, 152, 244, 1) !important;
    color: white !important;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    

    font-family: Lato;
    font-size: 20px !important;
    font-weight: 200 !important;
    line-height: 24px !important ;
    letter-spacing: 0em !important;
    text-align: center !important;
    position: relative;
}
th svg{
    position: absolute;
    right: 3px;
    bottom: 3px;
}
td{
    border-bottom: 0;
    border-left: 1px solid rgba(0, 0, 0, 0.42);
    text-align: center;
    height: 80px !important;
    align-items: center !important;
    padding-top: 10px !important;
}




/* Footer Left */
.footer{
    padding-bottom: 40px;
    margin-top: 10px;
  }
  .footer_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer_left{
    display: flex;
    align-items: center;
  }
  .footer_left div:first-child{
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
  }
  .footer_left div:nth-child(2){
    padding: 13px 43px 12px 44px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-left: 16px;
    margin-right: 16px;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    border-radius: 5px;
  }
  /* Footer Right */
  .pageitem{
    display: flex;
  }
  .pageitem div a{
    text-decoration: none;
  }
  .pageitem div:first-child a{
    margin-right: 12px;
    color: black;
  }
  .pageitem div:first-child a:hover{
    color: rgba(0, 158, 246, 1);
  }
  .pageitem div:nth-child(2) a,
  .pageitem div:nth-child(3) a,
  .pageitem div:nth-child(4) a,
  .pageitem div:nth-child(5) a{
    padding: 8px 16px 9px 17px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-right: 6px;
    color: black;
    border-radius: 5px;
  }
  .pageitem div:nth-child(2) a:hover,
  .pageitem div:nth-child(3) a:hover,
  .pageitem div:nth-child(4) a:hover,
  .pageitem div:nth-child(5) a:hover,
  .pageitem div:nth-child(6) a:hover{
     background-color: rgba(0, 158, 246, 1);
     border-color: rgba(0, 158, 246, 1);
     color: white;
  }
  .pageitem div:nth-child(6) a{
    padding: 8px 16px 9px 17px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    margin-right: 6px;
    color: black;
    border-radius: 5px;
    margin-right: 10px;
  }
  .pageitem div:nth-child(7) a{
    padding: 8px 12px 7px 12px;
    background-color: rgba(0, 158, 246, 1);
    color: white;
    border: 1px solid rgba(0, 158, 246, 1);
    border-radius: 5px;
  }

  .alert_item{
    position: relative;
  }
  .alert_item svg{
    position: absolute;
    left: 5px;
    top: 2px;
  }




@media screen and (max-width:1400px) {
    .button_main .btn{
        margin-top: 10px;
    }
}

@media screen and (max-width:992px) {
    .user_btn{
        display: flex;
        flex-direction: column;
        
    }
    .userhead_main{
        display: flex;
        flex-direction: column;
    }
    .user_head{
        width: 100%;
        background-color: rgba(11, 35, 49, 1);
        display: inline-block;
        border-radius: 6px;
        padding-top: 10px;
        padding-bottom: 10px;
        
    }
    .user_btn button{
        width: 100%;
        justify-content: center;
    }
    .user_btn button:first-child{
        margin-left: 0;
        margin-right: 0;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .user_btn button:nth-child(2){
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .alert_grid{
        column-gap: 20px;
    }

    /* Table */
    .r_border{
        border-right: 1px solid rgba(0, 0, 0, 0.42);
      }


    .footer_main{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .pageitem{
        display: flex;
        margin-top: 30px;
        padding: 10px;
    }
    .pageitem div:nth-child(2) a,
    .pageitem div:nth-child(3) a,
    .pageitem div:nth-child(4) a,
    .pageitem div:nth-child(5) a,
    .pageitem div:nth-child(6) a{
        padding: 8px;
    }
    
}

@media screen and (max-width:768px) {
    .alert_grid{
        display: grid;
        grid-template-columns: 0.4fr 0.4fr;
        grid-template-rows: 0.5fr 0.5fr;
        grid-template-areas: 
        "cardone cardtwo"
        "cardthree cardfour"
        "cardfive";
        column-gap: 20px;
    }

    .button_main .btn{
        font-size: 16px;
    }

    .alert_grid{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        column-gap: 30px;
    }

    .card_one{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .card_two{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    
    .card_three{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    
    .card_four{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    
    .card_five{
        grid-column: 1/2;
        grid-row: 3/4;
    }
}